.fromContainer{
    padding: 3% 5%;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: px 20px;
    box-sizing: border-box;
}

.form input{
    width: 100%;
    padding: 20px;
    border: solid 2px transparent;
    border-radius: 50px;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-size: 20px;
    transition: all 0.3s ease;
}

.form input:focus{
    outline: none;
    background-color: var(--text-color);
    color: var(--primary-color);
    box-shadow: 0px 0px 40px var(--secondary-color);
}

/* .button{
    padding: 20px;
    width: 15%;
    background-color: var(--asset-color);
    color: var(--text-color);
    font-size: 20px;
    border-radius: 10px;
}

.button:hover{
    outline: none;
    border: solid 2px var(--title-color);
} */