.fromContainer{
    padding: 30px 0px;
}

.form{
    display: flex;
    gap: 40px;
}

.form input{
    padding: 20px;
    border: solid 2px transparent;
    border-radius: 10px;
    color: var(--text-color);
    background-color: var(--asset-color);
    width: 90%;
    font-size: 20px;
}

.form input:focus{
    outline: none;
    border: solid 2px var(--title-color);
}

.button{
    padding: 20px;
    width: 15%;
    background-color: var(--asset-color);
    color: var(--text-color);
    font-size: 20px;
    border-radius: 10px;
}

.button:hover{
    outline: none;
    border: solid 2px var(--title-color);
}