.galery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 20px;
    width: 100%;
    justify-content: space-between;
}

.galery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 15px;
    width: 100%;
    justify-content: space-between;
}