.APODcontainer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 40px;
}

.APODcontainer img{
    max-height: 60vh;
    max-width: 60%;
    object-fit: contain;
    border-radius: 15px;
}